require 'bundler/capistrano'
$:.unshift(File.expand_path('./lib', ENV['rvm_path']))
require 'rvm/capistrano'

set :rvm_path, '/usr/local/rvm' 
set :rvm_bin_path, '/usr/local/rvm/bin'

set :default_environment, {
  'rvm_path' => '/usr/local/rvm',
  'rvm_bin_path' => '/usr/local/rvm/bin'
}

ssh_options[:forward_agent] = true
set :application, "<APP-NAME>"
set :repository,  "git@github.com:carlosayam/mathematica-blog.git"

set :scm, :git
set :deploy_via, :remote_cache
set :deploy_to, "/home/<YOUR-PATH>"

role :web, "example.com"                          # Your HTTP server, Apache/etc
role :app, "example.com"                          # This may be the same as your `Web` server
role :db,  "example.com", :primary => true # This is where Rails migrations will run

set :user, "<sample_user>"

set :use_sudo, false
set :keep_releases, 3

namespace :deploy do
  task :start do ; end
  task :stop do ; end
  task :restart, :roles => :app, :except => { :no_release => true } do
    run "#{try_sudo} touch #{File.join(current_path,'tmp','restart.txt')}"
  end
  task :seed do
    run "cd #{current_path}; rake db:seed RAILS_ENV=#{rails_env}"
  end
end

